global
    log stdout format raw local0
    maxconn 256

defaults
    log     global
    mode    tcp
    option  tcplog
    timeout connect 10s
    timeout client  60s
    timeout server  60s
    retries 3

frontend tor_socks5
    bind *:9050
    default_backend tor_pool

backend tor_pool
    balance roundrobin
    server tor1 tor-1:9050 check inter 30s fall 3 rise 2
    server tor2 tor-2:9050 check inter 30s fall 3 rise 2
    server tor3 tor-3:9050 check inter 30s fall 3 rise 2
